---
title: STACK-X 2021
layout: layout-page-sidenav
description: >
  CI/CD with SHIP-HATS is a two-day conference for developers and IT leaders to modernise securely, learn from peers and steps to get started
video_list_layout: 'stack-x-conference-video-list.html'
---

<figure>
  <img
    src="/assets/img/stack-x-ship-hats-hero.jpg"
    alt="Stack-X SHIP-HATS Hero"
  />
</figure>

<p>
  Thank you for joining us at STACK-X - CI/CD with SHIP-HATS. Missed any sessions? You can watch the video replays below.
</p>

<div class="sgds-tabs">
  <ul class="no-margin" role="tablist">
    <li class="is-active">
      <a data-tab="#tab1" role="tab" aria-selected="true" aria-controls="tab1">
        Keynote
      </a>
    </li>
    <li>
      <a data-tab="#tab2" role="tab" aria-selected="false" aria-controls="tab2">
        Leaders
      </a>
    </li>
    <li>
      <a data-tab="#tab3" role="tab" aria-selected="false" aria-controls="tab3">
        Product
      </a>
    </li>
    <li>
      <a data-tab="#tab4" role="tab" aria-selected="false" aria-controls="tab4">
        Government
      </a>
    </li>
    <li>
      <a data-tab="#tab5" role="tab" aria-selected="false" aria-controls="tab5">
        Workshops
      </a>
    </li>
  </ul>
</div>

<div class="tab-content" id="tab1">
  {% if page.video_list_layout %}
    {% include_relative {{ page.video_list_layout }} type="Opening, Keynote - VOD, Keynote - Live Chat" %}
  {% endif %}
</div>

<div class="tab-content" id="tab2">
  {% if page.video_list_layout %}
    {% include_relative {{ page.video_list_layout }} type="Leaders - VOD, Leaders - Live Chat" %}
  {% endif %}
</div>

<div class="tab-content" id="tab3">
  {% if page.video_list_layout %}
    {% include_relative {{ page.video_list_layout }} type="Product - VOD" %}
  {% endif %}
</div>

<div class="tab-content" id="tab4">
  {% if page.video_list_layout %}
    {% include_relative {{ page.video_list_layout }} type="Government - Preamble, Government - VOD" %}
  {% endif %}
</div>

<div class="tab-content" id="tab5">
  <h6>SHIP-HATS Developer Workshops</h6>
   <p> Due to recent local Covid-19 developments, we are minimising social interaction. Hence, this session is <strong> postponed </strong>until further notice.</p>
 
  <p>
    The workshop covers how to build and release a container application using
    SHIP-HATS to Government Commercial Cloud (GCC)
  </p>
  <div class="sgds-card">
    <div class="sgds-card-content">
      <h4>Continuous Integration</h4>
      <p>
        Dependency management using Nexus solution and automated container
        scanning using Prisma Cloud.
      </p>
      <h4>Release Management</h4>
      <p>
        Promote release artifacts to production with secure deployment to GCC
        compartments.
      </p>
    </div>
  </div>
</div>
