---
title: STACK-X 2021
layout: layout-page-sidenav
description: >
  CI/CD with SHIP-HATS is a two-day conference for developers and IT leaders to modernise securely, learn from peers and steps to get started
video_list_layout: 'stack-x-conference-video-list.html'
---

<figure>
  <img
    src="/assets/img/stack-x-ship-hats-hero.jpg"
    alt="Stack-X SHIP-HATS Hero"
  />
</figure>

<p>
  Thank you for joining us at STACK-X - CI/CD with SHIP-HATS. Missed any sessions? You can watch the video replays below.
</p>

<div class="sgds-tabs">
  <ul class="no-margin" role="tablist">
    <li class="is-active">
      <a data-tab="#tab1" role="tab" aria-selected="true" aria-controls="tab1">
        Keynote
      </a>
    </li>
    <li>
      <a data-tab="#tab2" role="tab" aria-selected="false" aria-controls="tab2">
        Leaders
      </a>
    </li>
    <li>
      <a data-tab="#tab3" role="tab" aria-selected="false" aria-controls="tab3">
        Product
      </a>
    </li>
    <li>
      <a data-tab="#tab4" role="tab" aria-selected="false" aria-controls="tab4">
        Government
      </a>
    </li>
    <li>
      <a data-tab="#tab5" role="tab" aria-selected="false" aria-controls="tab5">
        Workshops
      </a>
    </li>
  </ul>
</div>

<div class="tab-content" id="tab1">
  {% if page.video_list_layout %}
    {% include_relative {{ page.video_list_layout }} type="Keynote" %}
  {% endif %}
</div>

<div class="tab-content" id="tab2">
  {% if page.video_list_layout %}
    {% include_relative {{ page.video_list_layout }} type="Leaders - Preamble, Leaders - Talk, Leaders - VOD" %}
  {% endif %}
</div>

<div class="tab-content" id="tab3">
  {% if page.video_list_layout %}
    {% include_relative {{ page.video_list_layout }} type="Product" %}
  {% endif %}
</div>

<div class="tab-content" id="tab4">
  {% if page.video_list_layout %}
    {% include_relative {{ page.video_list_layout }} type="Government" %}
  {% endif %}
</div>

<div class="tab-content" id="tab5">
  {% if page.video_list_layout %}
    {% include_relative {{ page.video_list_layout }} type="Workshops" %}
  {% endif %}
</div>
